description: "query last.fm"
Modules:
    CmdReg:
        funcs:
            cmd_lastfm: {syntax: <user>, desc: get most recent track from user's last.fm}
        binds:
            lastfm: {func: cmd_lastfm}