description: Settings module
require: [CmdReg]

Modules:
    CmdReg:
        funcs:
            cmd_set: {syntax: "[module] [name] [value]...", desc: change a setting}
        binds:
            set: {func: cmd_set, loglvl: 3}
